<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Booking</title>
    <link rel="stylesheet" href="/css/create_week.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicons/management_favicon.png">
</head>
<body>

<div id="wrapper">
    <div id="img_wrapper"></div>
    <div id="form_wrapper">
        <h1>Create Booking</h1>
        <div id="form">
            <form id="sectionForm" th:action="@{/leader/user/{user_id}/booking_management/add_booking(user_id=${user.id})}" th:object="${booking}" method="post" enctype="multipart/form-data">
                <div id="error" th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Global error</p>
                </div>

                <fieldset>
                    <legend>Week</legend>
                    <div class="checkmark" th:each="week : ${weeks}">
                        <input type="checkbox" id="week_${week.id}" th:field="*{week}" name="week" th:value="${week.id}">
                        <label for="week_${week.id}">
                            <span th:text="${week.dateFrom} + ' - ' + ${week.dateTo} + ' ('+${week.location}+ ')'"></span>
                        </label>
                    </div>
                    <div th:if="${#fields.hasErrors('week')}" th:errors="*{week}" class="error"></div>
                </fieldset>

                <script src="/js/checkbox.js"></script>

                <div id="submit_wrapper">
                <span>
                    <button type="submit" class="butt">Create Booking</button>
                </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="back_wrapper">
    <a th:href="@{'/leader/user/'+${user.id}+'/booking_management'}">
        <button class="butt" id="back">Back</button>
    </a>
</div>

</body>
</html>
