body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;

}

#content ul {
	list-style-type: none;
	padding: 0;
}

#content li {
	display: inline-block;
	font-size: 24px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: rgba(0, 128, 124, 0.7);
	border-radius: 5px;
}

#content li span {
	font-size: 32px;
	font-weight: bold;
}

.highlight {
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 100%;
	z-index: -1;
}

#intro_background {
	padding: 20px;
}

#title {
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;
}

#amm {
	position: absolute;
	top: 35px;
	right: 20px;
	text-decoration: none;
	color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#Intro_wrapper {
	background-image: url("/images/disco.jpg");
	height: fit-content;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 40px;
	margin-top: 6.5%;
}

#title {
	font-size: 36px;
	text-align: center;
	padding: 0 10%; /* Aggiungi padding laterale per spaziatura */
	color: white; /* Assicurati che il testo sia bianco per contrasto */
}


#title {
	padding-top: 6.3%;
	padding-left: 6%;
}

#content {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 6%;
}

#main_content {
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: fit-content;
	font-family: "Oracle Sans", -apple-system, BlinkMacSystemFont,
	"Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

p {
	margin: 0 0 1.5%;
}

#content1 {
	text-align: center;
	padding: 1% 4% 3% 4%;
}

#intro_background {
	background-color: rgba(50, 50, 50, 0.3);
}

ul {
	list-style-image: url("/images/down-arrow.png");
}

span {
	color: #f2ae1a;
}

#s {
	padding-left: 2%;
}

#i {
	padding-left: 2.4%;
}

#w {
	padding-left: 1%;
}

#info {
	margin: 0 6% 3% 6%;
}

#content2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-image:  url("/images/festaatema.jpg");
}

.wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	margin : 2%;
}

.column {
	width: 300px;
	margin: 0 20px;
	text-align: center;
}

.zoom_box {
	position: relative;
	line-height: 0;
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
}

.photo img {
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 0, 0, .8);
}

.photo:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.text p {
	padding: 13%;
	font-size: larger;
}

.description {
	margin-top: 20px;
}
