<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(~{::title}, ~{::link})">
    <title> ROMA3 PARTY </title>
    <link href="/css/chi_siamo.css" rel="stylesheet"/>
    <link rel="icon" type="image/png">
</head>

<body>

<header th:replace="fragments/base.html :: navigator"></header>


<div id="Intro_wrapper">
<div id="intro_background">
    <div id="title-wrapper">
        <div id="title"> ROMA3PARTY E' IL COMPAGNO DI CLASSE SU CUI FARE AFFIDAMENTO SE HAI UN PROBLEMA, IL GENIO DA ASCOLTARE DURANTE UN ESAME E L'AMICO CON CUI RIDERE E DIVERTIRSI DURANTE LA PAUSA DALLO STUDIO</div>
    </div>

<div id="content">
    <p>Specializzati nell’organizzazione di viaggi evento per ragazzi, da 7 anni cavalchiamo l’onda del turismo giovanile nelle destinazioni più sorprendenti e famose di tutta Europa. Siamo la giusta scelta per tutti coloro che intendono vivere emozioni indimenticabili e indelebili durante uno dei momenti più importanti di tutto l’anno, le vacanze estive.</p>
    <p> Il nostro obiettivo è quello di farvi immergere in un’atmosfera di spensieratezza e libertà, fuori dagli schemi e dalla routine quotidiana, creando forti legami interpersonali tra persone all’apparenza diverse fra loro.</p>
    <p>Siamo creatori consapevoli di aggregazione di persone dalle sfumature diverse, dai gusti più disparati, con l’obiettivo di far conoscere la bellezza delle relazioni umane interpersonali che si vengono a creare durante i nostri viaggi tra persone totalmente diverse.</p>
</div>



<div id="section_wrapper">
    <div class="prop">
        <div class="icon" id="icon1"></div>
        <div class="desc">
            <h5>Inclusività</h5>
            <p>Non siamo per pochi. Non siamo per alcuni.
                Siamo per tutti.
                Zero vincoli, zero barriere. Ognuno deve essere libero di esprimersi per com’è fatto, senza ostacoli.</p>
        </div>
    </div>


    <div class="prop">
        <div class="icon" id="icon2"></div>
        <div class="desc">
            <h5>Family </h5>
            <p>Perchè partire da soli quando hai la possibilità di far parte di un grande gruppo?
                Fondiamo i nostri viaggi sulla costruzione di nuovi rapporti umani, tra persone all’apparenza diverse fra loro.</p>
        </div>
    </div>

    <div class="prop">
        <div class="icon" id="icon3"></div>
        <div class="desc">
            <h5>Libertà </h5>
            <p>Parti con la consapevolezza che nulla è obbligatorio, sei sempre libero di vivere la tua vacanza con i tuoi ritmi.</p>
        </div>
    </div>

    <div class="prop">
        <div class="icon" id="icon4"></div>
        <div class="desc">
            <h5>Party in Roma3 </h5>
            <p>Perché le nostre feste sono diverse. Non è solo il fatto di avere un programma incluso nella quota, ma avere incluso IL NOSTRO programma.</p>
        </div>
    </div>

    <div class="prop">
        <div class="icon" id="icon5"></div>
        <div class="desc">
            <h5>Esperienza </h5>
            <p>9 anni di esperienza nel mondo dei viaggi evento ci hanno fatto capire l’importanza dei dettagli. 50.000+ regaz sono partiti con noi, ci sarà un motivo no?</p>
        </div>
    </div>

    <div class="prop">
        <div class="icon" id="icon6">
        </div>
        <div class="desc">
            <h5>Organizzazione </h5>
            <p>Tu fai la valigia, al resto pensiamo noi. Zero pensieri su trasporto, alloggio, cosa visitare e dove andare. Per ogni destinazione abbiamo studiato un programma che ti permetterà di vivere a pieno il viaggio. E poi si sa, noi lo facciamo in modo diverso ☺️</p>
        </div>
    </div>
</div>
</div>
</div>

<footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>